<div class="ui page grid">

    <div class="ui two column center aligned grid">
  		<div class="column left aligned" data-sr='scale up 20%'>

  			<div class="ui hidden divider">

  			</div>

			<%= form_for @tracking_form, :url => returning_tracking_form_path, :html => { :class => "ui form attached fluid segment" } do |f| %>

				<h2 class="ui center aligned icon header">
					<i class="purple arrow circle left icon"></i>
					Return
				</h2>

			    <div class="field">
			    	
			    	<label>Reason for returning</label>
			    
			        <%= f.text_area :return_notice %>
			            
			    </div>

			    <div class="two fields">
		            <div class="field">
		              <%= f.submit "Return", :class => 'ui fluid purple button' %> 
		            </div>
		            
		            <div class="field">
		              <%= link_to('Back', :back, :class => 'ui fluid button')  %>
		            </div>
	          	</div>

			<% end %>

		</div>
	</div>

</div><!-- grid -->