<div class="ui page grid">

    <div class="ui two column center aligned grid">
  		<div class="column left aligned" data-sr='scale up 20%'>

  			<div class="ui hidden divider">

  			</div>

			<%= form_for @tracking_form, :url => forwarding_tracking_form_path, :html => { :class => "ui form attached fluid segment" } do |f| %>

				<h2 class="ui center aligned icon header">
					<i class="green send icon"></i>
					Forward to
				</h2>
				
				<div class="field">
			     
			       <%= f.collection_select :current_dept, Department.order(:name), :name, :name %>
			            
			    </div>

			    <div class="two fields">
		            <div class="field">
		              <%= f.submit "Forward", :class => 'ui fluid green button' %> 
		            </div>
		            
		            <div class="field">
		              <%= link_to('Back', :back, :class => 'ui fluid button')  %>
		            </div>
	          	</div>

			<% end %>

		</div>
	</div>

</div><!-- grid -->