<div class="wrapper" data-sr='wait 0.3s flip 45deg'>
  <div class="container">

  <h1 data-sr='scale down 20% wait 0.8s'>Please contact the System Administrator <br>to activate your account.</h1>
  <h1 data-sr='scale down 20% wait 1.2s'>Thank you.</h1>
  <div class="ui hidden divider"></div>
  <div data-sr='scale down 20% wait 1.5s'>
  <%= link_to('<i class="chevron left icon"></i> Back'.html_safe, new_employee_session_path, :class => 'back_btn') %>
  </div>
  </div><!-- container -->

  <ul class="bg-bubbles">
    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
  </ul>
  
</div><!-- wrapper -->